
  
  .draggable {
    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 600px;
    border: 1px solid #dedede;
    background: var(--main-dark-color-to-white-1);
  }
  
  .draggable-panel {
    padding: 10px;
    background-color: #eee;
    cursor: move;
  }
  
  